<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'Profile' if session['role'] == 'user' else 'Users' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <input type="hidden" id="current-user-role" value="{{ session['role'] }}">
        <div class="logo navbar">
            <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
            <h1><a href="/">Food Delivery Management System</a> / <span style="margin-left: 10px; color: white">{{ 'Profile' if session['role'] == 'user' else 'Users' }}</span></h1>
        </div>
        <ul class="navbar">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                        <button class="close-flash" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <button id="scrollTopBtn"><img class="up-arrow" src="{{ url_for('static', filename='images/up-arrow.png') }}"></button>
    <div class="search-bar">
        <form id="user-form" class="user-form" action="{{ url_for('user_action') }}" method="post">
            <input type="hidden" id="user-id" name="user_id">
            <input type="text" id="name" name="name" placeholder="Name">
            <input type="email" id="email" name="email" placeholder="Email">
            
            <input type="hidden" id="selected-users" name="selected_users">
            <input type="hidden" id="update-user-id" name="update_user_id">
            <input type="hidden" id="clear-filter" name="clear_filter" value="false">
        </form>
        <button class="search-button" onclick="searchUser()"><img class="button-img" src="{{ url_for('static', filename='images/search.png') }}" alt="search icon"></img>Search</button>
        <button class="clear-button" type="submit" form="user-form" name="action" value="clear" onclick="clearSearch()"><img class="button-img" src="{{ url_for('static', filename='images/clear.png') }}" alt="clear icon"></img>Clear</button>
    </div>
    <div class="action-buttons">
        {%if session['role'] == 'admin' %}
        <button class="add-button" type="submit" name="action" value="add" form="user-form"><img class="button-img" src="{{ url_for('static', filename='images/add.png') }}" alt="add icon"></img>Add</button>
        <button class="delete-button" type="submit" name="action" value="delete" form="user-form" onclick="collectSelected()"><img class="button-img" src="{{ url_for('static', filename='images/delete.png') }}" alt="delete icon"></img>Delete</button>
        <button class="filter-button" type="submit" name="action" value="filter" form="user-form"><img class="button-img" src="{{ url_for('static', filename='images/filter.png') }}" alt="filter icon"></img>Filter</button>
        {% endif %}
        <button class="update-button" type="submit" name="action" value="update" form="user-form"><img class="button-img" src="{{ url_for('static', filename='images/update.png') }}" alt="update icon"></img>Update</button>
    </div>
    <div id="navigation" class="hidden">
        <button id="next-match-button" onclick="goToNextMatch()">Next Match</button>
    </div>
    <div class="list" id="user-list">
        {% for user in users %}
        <div class="table-card" id="user-card-{{ user['user_id'] }}">
            <input type="checkbox" id="user-{{ loop.index }}" name="selected_users" value="{{ user['user_id'] }}">
            <label for="user-{{ loop.index }}">
                <span class="user-id" style="display: none;">{{ user['user_id'] }}</span>
                <p><strong>Name:</strong> <span class="name">{{ user['name'] }}</span></p>
                <p><strong>Email:</strong> <span class="email">{{ user['email'] }}</span></p>
            </label>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
</body>
</html>